@import "tailwindcss";
@plugin "daisyui";

*{
    /* font-family: "Special Gothic", sans-serif; */
    /* font-family: "Inter", sans-serif; */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

/* wave css  */
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}


/* for curve -  */
.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.curve .shape-fill {
    fill: #FFFFFF;
}