@import "tailwindcss";
@plugin "daisyui";

*{
    /* font-family: "Special Gothic", sans-serif; */
    /* font-family: "Inter", sans-serif; */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

